{% extends 'TemplatesSITELogin/Bootstrap/base.html.twig' %}
{% block title %}Register{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        html,
        body {
            height: 100%;
        }
        .centered-container{
            height: 100%;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }
        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }
        .form-signin .checkbox {
            font-weight: 400;
        }
        .form-signin .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
        }
        .form-signin .form-control:focus {
            z-index: 2;
        }
        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
{% endblock %}
{% block description %}Create an account{% endblock %}
{% block body %}
    <div class="centered-container">
        {{ form_start(form, {'method': 'post', 'action': path(register_route), 'attr': {'class': 'p-t-15', 'id': 'form-register', 'role': 'form'}}) }}
        <form action="{{ path(login_route, app.request.query.all) }}" id="form-login" class="form-signin p-t-15" role="form" method="POST">
            <img class="mb-4" src="{{config.logo}}" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Login</h1>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <a class="pull-right text-right" href="{{ path( login_route ) }}">Already a member? Login</a>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group form-group-default">
                        {{ form_label(form.username) }}
                        {{ form_widget(form.username) }}
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group form-group-default">
                        {{ form_label(form.plainPassword.first) }}
                        {{ form_widget(form.plainPassword.first) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group form-group-default">
                        {{ form_label(form.plainPassword.second) }}
                        {{ form_widget(form.plainPassword.second) }}
                    </div>
                </div>
            </div>
            <div class="row m-t-10 bg-dark">
                <div class="col-lg-11 p-l-5">
                    <h4 class="text-white"><small>By signing up, you agree to the <a href="" class="text-warning">Let There Be Sites Terms</a> and <a href="" class="text-warning">Privacy</a>.</small></h4>
                </div>
                <div class="col-lg-1 p-r-5">
                    <div class="checkbox check-warning">
                        <input id="registration_form_termsAccepted" name="registration_form[termsAccepted]" required="required" value="1" aria-required="true" type="checkbox">
                        <label for="registration_form_termsAccepted"></label>
                    </div>
                </div>
                <!-- <div class="col-lg-6 text-right">
                <a href="#" class="text-info small">Help? Contact Support</a>
               </div> -->
            </div>
            {{ form_widget(form._token) }}
            <button class="btn btn-primary btn-block m-t-10" type="submit">Create a new account</button>
        {{ form_end(form, {'render_rest': false}) }}
         </form>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            $('#form-register').validate();

            $('#{{ form.plainPassword.first.vars.id }}').rules( 'add', {
                required: true,
                minlength: 8,
            });

            $('#{{ form.plainPassword.second.vars.id }}').rules( 'add', {
                equalTo: "#{{ form.plainPassword.first.vars.id }}",
                messages: {
                    equalTo: "Sorry this doesn't match your password.",
                }
            });
        });
    </script>
{% endblock %}