{% extends 'TemplatesSITELogin/Bootstrap/base.html.twig' %}
{% block title %}Reset Password{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
{% block body %}
    <div class="centered-container">
        {{ form_start(form, {'method': 'post', 'action': path('site_login_reset_password'), 'attr': {'class': 'form-signin p-t-15 signin', 'role': 'form', 'id': 'form-reset'}}) }}
        <img class="mb-4" src="{{config.logo}}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <h2 class="semi-bold"></h2>
        <div class="text-center">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group form-group-default">
                        {{ form_label(form.plainPassword.first) }}
                        {{ form_widget(form.plainPassword.first) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group form-group-default">
                        {{ form_label(form.plainPassword.second) }}
                        {{ form_widget(form.plainPassword.second) }}
                    </div>
                </div>
            </div>
            {{ form_widget(form._token) }}
            <button class="btn btn-primary btn-block m-t-10" type="submit">Update Password</button>
        </div>
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>

        $(function() {
            $('#form-reset').validate();

            $('#{{ form.plainPassword.first.vars.id }}').rules( 'add', {
                required: true,
                minlength: 8,
            });

            $('#{{ form.plainPassword.second.vars.id }}').rules( 'add', {
                equalTo: "#{{ form.plainPassword.first.vars.id }}",
                messages: {
                    equalTo: "Sorry this doesn't match your password.",
                }
            });
        });
    </script>
{% endblock %}