{% extends 'TemplatesSITELogin/Cartzilla/base.html.twig' %}
{% block title %}Forgot Password{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
{% block content %}
    <div class="card border-0 box-shadow">
        <div class="card-body text-center">
            <!-- SVG Icon -->
            <figure id="SVGaccount" class="svg-preloader mb-5">
                <img class="js-svg-injector" src="{{ asset('svg/illustrations/create-account.svg', 'cartzilla') }}" alt="Check your email"
                     data-parent="#SVGaccount" style="max-height: 200px;">
            </figure>
            <!-- End SVG Icon -->
            <h1 class="text-center">{{ 'site.login.forgot_check.heading' | trans }}</h1>
            <p class="text-center">{{ 'site.login.forgot_check.subheading' | trans }}</p>

            <a class="btn btn-primary" href="{{ path('home') }}">{{ 'site.login.forgot_check.cta_label' | trans }} <i class="fas fa-home"></i></a>
        </div>
    </div>
{% endblock %}