{% extends 'TemplatesSITELogin/Cartzilla/base.html.twig' %}
{% block title %}Login{% endblock %}
{% block description %}Login to your account{% endblock %}
{% block keywords %}{% endblock %}
{% block header %}{{ parent() }}{% endblock %}
{% block content %}
    <div class=" my-5 py-5 ">
        <div class="card border-0 box-shadow">
            <div class="card-body">
                <h2 class="h4 mb-1">{{'site.login.login.heading_prefix'|trans}} <span class="font-weight-semi-bold">{{'site.login.login.heading_postfix'|trans}}</span></h2>
                <p>{{ 'site.login.login.subheading'|trans }}</p>
                <!-- Form -->
                <form action="{{ path('site_login_otp', app.request.query.all) }}" id="form-login" method="POST" class="needs-validation" novalidate>
                    {% for type, messages in app.flashes %}
                        {% for msg in messages %}
                            <div class="alert alert-{{ type }}">{{ msg }}</div>
                        {% endfor %}
                    {% endfor %}
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                    <div class="row">
                        <!-- Form Group -->
                        <div class="js-form-message form-group col-12 col-sm-10 col-md-8 col-lg-6">
                            <label class="form-label" for="login_username">
                                <span class="d-flex justify-content-between align-items-center">
                                    {{ 'global.form.phone_number.label'|trans }}
                                </span>
                            </label>
                            <input id="username" type="text" name="_username" value="{{ last_username }}" class="form-control"
                                   aria-label= "+1 000-000-0000"
                                   autocomplete="off"
                                   autofocus
                                   data-msg="Please enter a valid phone number."
                                   data-error-class="u-has-error"
                                   data-success-class="u-has-success"
                                   placeholder="+1 000-000-0000"
                                   required="required"
                            >
                        </div>
                        <!-- End Form Group -->
                    </div>
                    <!-- Button -->
                    <div class="row align-items-center mb-5">
                        <div class="col-6">
                            <span class="small text-muted">{{ 'site.login.login.dont_have_account'|trans }}</span>
                            <a class="small" href="{{ path( register_route, app.request.query.all) }}">{{ 'site.login.login.cta_register'|trans }}</a>
                        </div>

                        <div class="col-6 text-right">
                            <button id="_submit" name="_submit" class="btn btn-primary text-white-hover transition-3d-hover" type="submit">{{ 'site.login.login.submit_label'|trans }} <i class="fas fa-sign-in-alt"></i></button>
                        </div>
                    </div>
                </form>
                <!-- End Login Form -->
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        /* JS Plugins Init.  */
        $(function() {
            $('#username').mask('+1 000-000-0000');
        });
    </script>
{% endblock %}