{% extends 'TemplatesSITELogin/Cartzilla/base.html.twig' %}
{% block title %}Enter you code{% endblock %}
{% block description %}Create an account{% endblock %}
{% block keywords %}{% endblock %}
{% block header %}{{ parent() }}{% endblock %}
{% block content %}
    <div class="py-5">
        <div class="py-5">
            <div class="card border-0 box-shadow py-2">
                <div class="card-body">
                    <h2 class="h4 mb-1">{{ 'site.login.otp.heading_prefix'| trans }} <span class="font-weight-semi-bold">{{ 'global.app.name'|trans }}</span></h2>
                    <p>{{ 'site.login.otp.subheading' | trans }}</p>
                    <!-- Form -->
                    {{ form_start(form, {'method': 'post', 'attr': {'class': 'needs-validation w-100', 'id': 'form-otp', 'role': 'form', 'novalidate':'novalidate'}}) }}
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% for type, messages in app.flashes %}
                        {% for msg in messages %}
                            <div class="alert alert-{{ type }}">{{ msg }}</div>
                        {% endfor %}
                    {% endfor %}

                    <div class="row my-5 mx-2 mx-md-5">
                        <div class="col-2 p-0">
                            {{ form_widget(form.digit_1, {attr: { placeholder: "0", tabindex: "1" }}) }}
                        </div>
                        <div class="col-2 p-0">
                            {{ form_widget(form.digit_2, {attr: { placeholder: "0", tabindex: "2" }}) }}
                        </div>
                        <div class="col-2 p-0">
                            {{ form_widget(form.digit_3, {attr: { placeholder: "0", tabindex: "3" }}) }}
                        </div>
                        <div class="col-2 p-0">
                            {{ form_widget(form.digit_4, {attr: { placeholder: "0", tabindex: "4" }}) }}
                        </div>
                        <div class="col-2 p-0">
                            {{ form_widget(form.digit_5, {attr: { placeholder: "0", tabindex: "5" }}) }}
                        </div>
                        <div class="col-2 p-0">
                            {{ form_widget(form.digit_6, {attr: { placeholder: "0", tabindex: "6" }}) }}
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="row align-items-center mt-5">
                        <div class="col-5 col-sm-6">
                            <span class="small text-muted">{{ 'site.login.register.have_account'|trans }}</span>
                            <a class="small" href="{{ path( login_route ) }}">{{ 'site.login.register.cta_login'|trans }}</a>
                        </div>

                        <div class="col-7 col-sm-6 text-right">
                            <button type="submit" class="btn btn-primary transition-3d-hover text-white-hover">{{ 'site.login.register.submit_label'|trans }} <i class="fas fa-user-plus"></i></button>
                        </div>
                    </div>
                    <!-- End Button -->
                    {{ form_widget(form._token) }}
                    {{ form_end(form, {'render_rest': false}) }}
                    <!-- End Form -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        initOTP();
    </script>
{% endblock %}