{% extends 'TemplatesSITELogin/Cartzilla/base.html.twig' %}
{% block title %}Reset Password{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
{% block content %}
<!-- ========== MAIN ========== -->
<div class="container mb-lg-3">
    <div class="row justify-content-center">
        <div class="col-sm-9">
            <div class="card border-0 box-shadow">
                <div class="card-body">
                <!-- SVG Icon -->
                <figure id="SVGaccount" class="svg-preloader mb-5 text-center">
                    <img class="js-svg-injector" src="{{ asset('svg/illustrations/reset-password.svg', 'cartzilla') }}" alt="Check your email"
                         data-parent="#SVGaccount" style="max-height: 200px;">
                </figure>
                <!-- End SVG Icon -->
                <div class="row no-gutters">
                    <div class="col-md-8 col-lg-7 col-xl-6 offset-md-2 offset-lg-2 offset-xl-3 space-3 space-lg-0 text-left">
                        <!-- Form -->
                        {{ form_start(form, {'method': 'post', 'action': path('site_login_reset_password'), 'attr': {'class': 'js-validate mt-5', 'role': 'form', 'id': 'form-reset'}}) }}
                        {{ form_widget(form._token) }}
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <!-- Title -->
                        <div class="mb-7">
                            <h1 class="h3 text-primary font-weight-normal mb-0">{{t.login_reset_password.title | default("Reset Password")}}</span></h1>
                            <p>{{ t.login_reset_password.help_text| default('Enter your new password') }}</p>
                        </div>
                        <!-- End Title -->
                        <!-- Form Group -->
                        <div class="js-form-message form-group">
                            {{ form_label(form.plainPassword.first, null, {"label_attr": {"class": "form-label"}})  }}
                            {{ form_widget(form.plainPassword.first, { "attr": { "aria-label":"********", "placeholder":"********", "required":"required", "data-msg":"Your password is invalid. Please try again.", "data-error-class":"u-has-error", "data-success-class":"u-has-success"}}) }}
                        </div>
                        <!-- End Form Group -->

                        <!-- Form Group -->
                        <div class="js-form-message form-group">
                            {{ form_label(form.plainPassword.second, null, {"label_attr": {"class": "form-label"}})  }}
                            {{ form_widget(form.plainPassword.second, { "attr": { "aria-label":"********", "placeholder":"********", "required":"required", "data-msg":"Password does not match the confirm password.", "data-error-class":"u-has-error", "data-success-class":"u-has-success"}}) }}
                        </div>
                        <!-- End Form Group -->
                        <!-- Button -->
                        <div class="row align-items-center mb-5">
                            <div class="col-7 col-sm-12">
                                <button type="submit" class="btn btn-primary transition-3d-hover">Update Password</button>
                            </div>
                        </div>
                        <!-- End Button -->
                    </div>
                    {{ form_end(form, {'render_rest': false}) }}
                    <!-- End Form -->
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- ========== END MAIN ========== -->
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
    $(function() {
        $('#form-reset').validate();

        $('#{{ form.plainPassword.first.vars.id }}').rules( 'add', {
            required: true,
            minlength: 8,
        });

        $('#{{ form.plainPassword.second.vars.id }}').rules( 'add', {
            equalTo: "#{{ form.plainPassword.first.vars.id }}",
            messages: {
                equalTo: "Sorry this doesn't match your password.",
            }
        });
    });
</script>
{% endblock %}