{% extends 'TemplatesSITECore/Front/base.html.twig' %}
{% block title %}{{ meta.title }}{% endblock %}
{% block header %}
    <!-- ========== HEADER ========== -->
    <header id="header" class="u-header u-header--bg-transparent u-header--abs-top">
        <div class="u-header__section">
            <div id="logoAndNav" class="container-fluid">
                <!-- Nav -->
                <nav class="navbar navbar-expand u-header__navbar">
                    <!-- White Logo -->
                    <a class="d-none d-lg-flex navbar-brand u-header__navbar-brand u-header__navbar-brand-center u-header__navbar-brand-text-white" href="{{url('home')}}" aria-label="Front">
                        {{include('TemplatesSITECore/Front/_logo_dark.html.twig')}}
                    </a>
                    <!-- End White Logo -->

                    <!-- Default Logo -->
                    <a class="d-flex d-lg-none navbar-brand u-header__navbar-brand u-header__navbar-brand-center u-header__navbar-brand-collapsed" href="{{url('home')}}" aria-label="Amuse Agency">
                        {{include('TemplatesSITECore/Front/_logo_default.html.twig')}}
                    </a>
                    <!-- End Default Logo -->

                    <!-- Button -->
                    <div class="ml-auto">
                        {% if app.request.attributes.get('_route') == "site_login_login" %}
                        <a class="btn btn-sm btn-primary transition-3d-hover" href="{{ path('site_login_register') }}">
                            Register
                        </a>
                        {% else %}
                        <a class="btn btn-sm btn-primary transition-3d-hover" href="{{path('site_login_login')}}">
                            Sign In <i class="fas fa-sign-in-alt"></i>
                        </a>
                        {% endif %}
                    </div>
                    <!-- End Button -->
                </nav>
                <!-- End Nav -->
            </div>
        </div>
    </header>
    <!-- ========== END HEADER ========== -->
{% endblock %}
{% block content %}{% endblock %}
{% block footer %}
    <!-- ========== FOOTER ========== -->
    <footer class="position-md-absolute right-md-0 bottom-md-0 left-md-0">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center space-1">
                <!-- Copyright -->
                <p class="small text-muted mb-0">&copy; {{ t.app.title | default('Our App') }} {{ "now"|date("Y") }} {{ t.app.company | default('Our Company') }}.</p>
                <!-- End Copyright -->

                <!-- Social Networks -->
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent" href="{{ config.social.fb|default('#') }}">
                            <span class="fab fa-facebook-f btn-icon__inner"></span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent" href="{{ config.social.google|default('#') }}">
                            <span class="fab fa-google btn-icon__inner"></span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent" href="{{ config.social.twitter|default('#') }}">
                            <span class="fab fa-twitter btn-icon__inner"></span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent" href="{{ config.social.github|default('#') }}">
                            <span class="fab fa-github btn-icon__inner"></span>
                        </a>
                    </li>
                </ul>
                <!-- End Social Networks -->
            </div>
        </div>
    </footer>
    <!-- ========== END FOOTER ========== -->
{% endblock %}