{% extends 'TemplatesSITELogin/Front/base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login', null, 'frontEntryConfig') }}
{% endblock %}
{% block title %}Check Your Email | Forgot Password{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
{% block content %}
    <!-- ========== MAIN ========== -->
    <main id="content" role="main">
        <!-- Hero Section -->
        <div class="d-lg-flex">
            <div class="container d-lg-flex align-items-lg-center min-height-lg-100vh space-top-4 space-bottom-2 space-lg-0">
                <div class="w-100 mx-auto text-center">
                    <!-- SVG Icon -->
                    <figure id="SVGaccount" class="svg-preloader mb-5">
                        <img class="js-svg-injector" src="{{ asset('$1', 'front') }}" alt="Check your email"
                             data-parent="#SVGaccount" style="max-height: 200px;">
                    </figure>
                    <!-- End SVG Icon -->

                    <div class="w-md-80 w-lg-50 text-center mx-md-auto">
                        <!-- Title -->
                        <div class="mb-5">
                            <h1 class="h2 font-weight-normal">{{ 'site.login.forgot_check.heading' | trans }}</h1>
                            <p>{{ 'site.login.forgot_check.subheading' | trans }}</p>
                        </div>
                        <!-- End Title -->

                        <a class="btn btn-primary transition-3d-hover text-white-hover" href="{{ path('home') }}">{{ 'site.login.forgot_check.cta_label' | trans }}</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Hero Section -->
    </main>
    <!-- ========== END MAIN ========== -->
{% endblock %}
{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('login', null, 'frontEntryConfig') }}
{% endblock %}